/*  your css code here. If applicable */

.Main-Container {
  background-color: #f5f5f5;
  padding: 30px;
}

.testimonial {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.text{
	font-family: Arial;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    font-style: normal;
}

.author {
  text-align: right;
  font-style: italic;
}
