/*  your css code here. If applicable */

.Main-Container {
  background-color: #f5f5f5;
  padding: 50px;
}

.testimonial-1 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px 15px;
  margin-bottom: 20px;

}
.testimonial-2 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px 15px;
	

}

.text{
	font-family: Arial;
    font-size: 16px;
}

.author {
  text-align: right;
  font-style: italic;
}
